<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Project package logger (optional, also at INFO) -->
  <logger name="com.marriott.finance.sox" level="INFO"/>

  <!-- Global default level -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
